@import url('https://fonts.googleapis.com/css?family=Goldman');
@import url('https://fonts.googleapis.com/css?family=Noto%20Sans');

.navbar {
  color: white;
  background-color: #3E4249;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #F7F5F4;
  display: flex;
}

.navbar ul {
  list-style-type: none;
  margin-top: 0px;
  padding: 0px;
  margin-left: 0px;
}

.navbar li {
  font-size: 13px;
  font-family: Noto Sans;
  padding-left: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

  .navbar li:hover {
    background-color: #505661;
  }

.navbar a {
  color: white;
  text-decoration: none;
  position: relative;
  bottom: 7px;
}

.navbar-title {
  background-color: #524361;
}

.navbar img {
  margin-right: 5px;
}


.status-bar {
  background-color: #76618B;
  border-bottom: 2px solid #E1E1E1;
  border-right: 2px solid #E1E1E1;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search {
  margin-top: 3px;
  float: left;
}

.alerts-messages {
  display: flex;
  float: right;
  margin-right: 15px;
}

.alerts-messages-icons {
  margin-top: 5px;
}

.alerts-messages button {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  background-color: #5584ff;
  font-size: 13px;
  outline: none;
  border: 0;
  color: white;
  font-weight: bold;
}

.status-bar i {
  vertical-align: middle;
  margin-left: 30px;
  height: 5px;
  font-size: 23px;
}

  .status-bar i:last-of-type {
    vertical-align: middle;
    margin-left: 30px;
    margin-right: 30px;
    height: 5px;
    font-size: 20px;
  }

.user-image img {
  height: 50px;
}

.menu-bar {
  border-bottom: 2px solid #E1E1E1;
  background-color: white;
}

  .menu-bar li {
    float: left;
    font-family: Noto Sans;
    border-radius: 3px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 10px;
  }

    .menu-bar li:hover {
      background-color: white;
    }

  .menu-bar a:hover {
    color: black;
  }

  .menu-bar a {
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    text-decoration: none;
  }

  .menu-bar ul {
    position: relative;
    top: 0px;
    padding: 0px;
    padding-left: 0px;
    list-style-type: none;
  }

.mainbody {
  padding-right: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-info {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
}

.user-pic {
  width: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.user-name {
  position: relative;
  bottom: 50px;
  left: 80px;
}

.user-designation {
  color: grey;
  position: relative;
  bottom: 30px;
  left: 15px;
}

.user-location {
  color: grey;
  position: relative;
  bottom: 10px;
  right: 120px;
}

.like-dislike {
  position: relative;
  bottom: 10px;
  left: 80px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.user-data {
}

button.like {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-heigth: 50px;
  border-radius: 50%;
  color: rgba(0,150,136,1);
  background-color: rgba(38,166,154,0.3);
  border-color: rgba(0,150,136,1);
  border-width: 1px;
  font-size: 15px;
}

button.dislike {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-heigth: 50px;
  border-radius: 50%;
  color: rgba(255,82,82,1);
  background-color: rgba(255,138,128,0.3);
  border-color: rgba(255,82,82,1);
  border-width: 1px;
  font-size: 15px;
}

button.learnmore {
  width: 100%;
  padding: 10px;
  border: none;
  background: rgba(0,151,167,1);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
}

.questions-asked {
  width: 100px;
  position: relative;
  left: 500px;
  bottom: 100px;
  background-color: #F4F5F8;
}

.questions-solved {
  width: 100px;
  position: relative;
  left: 900px;
  bottom: 150px;
  background-color: #F4F5F8;
}

.questions-answered {
  width: 100px;
  position: relative;
  left: 700px;
  bottom: 130px;
  background-color: #F4F5F8;
}

.questions {
  background-color: white;
  border: 1px solid grey;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 700px;
  border-radius: 5px;
}
