<div class="navbar">
  <div class=navbar-title>
    <img src=asserts/img/home.jpg height=70 width=120>
  </div>
  <ul>
    <li><a href="#Forum">Forum</a></li>
  </ul>
</div>
<div class="mainbody">
  <div class="status-bar">
    <div class=alerts-messages>
      14 March,2017
      <div class=alerts-messages-icons>
        <i class="fas fa-sun"></i>
        Vijay Prakash
      </div>
      <div class=user-image>
        <img src=asserts/img/changeuser.png>
      </div>
    </div>
  </div>
  <div class=menu-bar>
    <ul>
      <li><a href="#home">HOME</a></li>
      <li><a href="#categories">CATEGORIES</a></li>
      <li><a href="#users">USERS</a></li>
    </ul>
  </div>
  <div class=users-div>
    <div class=user-info>
      <div class=user-pic>
        <img src=asserts/img/changeuser.png>
      </div>
      <div class=user-data>
        <span class=user-name>John Doe</span>
        <span class=user-designation>Senior Manager-Dev</span>
        <span class=user-location>Product Development,Hyderabad</span>
        <div class=like-dislike>
          <button class="dislike">
            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
          </button>
          <button class="like">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class=questions-asked>Questions Asked</div>
      <div class=questions-answered>Questions Answered</div>
      <div class=questions-solved>Questions Solved</div>
    </div>
    <div class=questions>
      <div class=user-pic>
        <img src=asserts/img/changeuser.png>
      </div>
      <div class=user-data>
        <span class=user-name>Flutter,I want change Qty List from SteamController?</span>
        <span class=user-designation>Senior Manager-Dev</span>
      </div>
    </div>
  </div>
</div>
