<div class="navbar">
  <div class=navbar-title>
    <img src=asserts/img/home.jpg height=70 width=120>
  </div>
  <ul>
    <li><a href="#Forum">Forum</a></li>
  </ul>
</div>
<div class="mainbody">
  <div class="status-bar">

    <div class=alerts-messages>
      14 March,2017
      <div class=alerts-messages-icons>
        <i class="fas fa-sun"></i>
        Vijay Prakash
      </div>
      <div class=user-image>
        <img src=asserts/img/changeuser.png>
      </div>
    </div>
  </div>
  <div class=menu-bar>
    <ul>
      <li><a href="#home">HOME</a></li>
      <li><a href="#categories">CATEGORIES</a></li>
      <li><a href="#users">USERS</a></li>
    </ul>
  </div>
  <div class=category>
    <span class=keywords>Keywords</span>
    <input type=text placeholder=Search>
    <span class=cat>Category</span>
    <select>
      <option>ALL</option>
      <option>Asp.Net</option>
      <option>Java</option>
      <option>Node Js</option>
      <option>Dev Opps</option>
      <option>UX Design</option>
    </select>
    <span class=show>Show</span>
    <select>
      <option>RECENT</option>
      <option>My Questions</option>
      <option>My Participation</option>
      <option>Hot</option>
      <option>Solved</option>
      <option>Unsolved</option>
    </select>
    <span class=sortby>Sort By</span>
    <select>
      <option>RECENT</option>
      <option>Last 10 Days</option>
      <option>Last 30 Days</option>
    </select>
    <span>Reset</span>
    <button class=question>+ Question</button>
  </div>
  <div class=question-window>
    <div class=each-question>
      <img src=asserts/img/changeuser.png>
      <span class=ques>Flutter, I want change Qty List from StreamController?</span>
      <div class=desc><span>placeolder text for use in graphic,print and web layouts, and discover plugins for your favourite writing,design and bolgging tools</span></div>
    </div>
  </div>

  <div class=answer-window>
    <div class=answers>ANSWERS(3)</div>
    <div class=each-answer>
      <img src=asserts/img/changeuser.png>
      <span class=ques>Jossey Robert</span>
      <div class=desc><span>Design and Bolgging tools placeholder text for use in graphic,print and web layouts, and discover plugins for your favourite writing and blogging tools placeholder text for use in graphic  ,print and web layouts, and dicover plugins for your favourite wrriting</span></div>
      <input type=checkbox> Mark as your favourite solution
    </div>
  </div>
</div>
