<div class="navbar">
  <div class=navbar-title>
    <img src=asserts/img/home.jpg height=70 width=120>
  </div>
  <ul>
    <li><a href="#Forum">Forum</a></li>
  </ul>
</div>
<div class="mainbody">
  <div class="status-bar">

    <div class=alerts-messages>
      14 March,2017
      <div class=alerts-messages-icons>
        <i class="fas fa-sun"></i>
        Vijay Prakash
      </div>
      <div class=user-image>
        <img src=asserts/img/changeuser.png>
      </div>
    </div>
  </div>
  <div class=menu-bar>
    <ul>
      <li><a href="#home">HOME</a></li>
      <li><a href="#categories">CATEGORIES</a></li>
      <li><a href="#users">USERS</a></li>
    </ul>
  </div>
  <div class=home-div>
    <div class="container fill-fields">

      <div class=single-info>
        <span class=header>ASP .NET</span>
        <div class=info>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of </div>
        <div class=tagged-info>
          Tagged 5 this week,103 this month
        </div>
      </div>
    </div>

  </div>
</div>
